dist-newstyle/
dist-coverage/
/coverage/
*.tix
.hpc/
.direnv/
_site/
result
result-*
/sbom/
/grype.json
/grype.sarif
/semgrep.sarif
http_cache.sqlite
/sbom.csv
/sbom.cdx.json
/sbom.spdx.json
.hie/
dist-weeder/
dist-stan/
*.hi
*.o
scratchpad/
.vscode/*
!.vscode/settings.json
